/* TODO: Style the product card container */

/* TODO: Add special styling for out-of-stock products */
/* ProductCard.module.css */

.Card {
  margin: 16px;
  padding: 10px;
  border-radius: 10px;
}

.outOfStock {
  opacity: 0.5;
  background-color: #f5f5f5;
}